/* @import 'reset.css';
@import 'tabs.css'; */
@import 'cap2.css';
@import 'cap3.css';
@import 'cap4.css';
@import 'cap5.css';
@import 'cap6.css';

.problem {
    margin:10px;
}

p, li {
    max-width: 800px;
}
.solution {
    display: inline-block;
}

.form-sections {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.form-section {
    /* flex: 33.3%; */
    width:20em;
    border:1px solid black;
    padding:20px 20px;
    margin: 5px;
    text-align: center;
}

.grade h2 {
    color:blue;
    width: 90vw;
}

.wrong {
    color: red;
    font-weight:900;
}

.reset {
    margin: auto;
    background-color:lightcoral;
    transition-duration: 100ms;
}

.reset:hover, .reset:target, .reset:active, .reset:focus{
    background-color: red;
    color: white;
    transition-duration: 100ms;
}

.score {
    background-color: darkseagreen;
}

.score:hover, .score:target, .score:active, .score:focus{
    background-color: green;
    color: white;
    transition-duration: 100ms;
}

.total {
    font-weight: bold;
}

button {
    padding: 10px;
}

.grid>.problem>input{
    padding: 10px;
}
.solution {
    z-index: 100;
}

.solution span {
    background-color: white;
}

#cap_final {
    position: relative;
    margin: 100px;
    border: 5px solid black;
    padding: 50px;
    display: block;
}
#CAP_total {
    display: inline;
    margin-left: 20px;
}
