/* @import 'reset.css';
@import 'tabs.css'; */

.problem {
    margin:10px;
}
.solution {
    display: inline-block;
}

.form-sections {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.form-section {
    /* flex: 33.3%; */
    width:20em;
    border:1px solid black;
    padding:20px 20px;
    margin: 5px;
    text-align: center;
}

.grade h2 {
    color:blue;
    width: 90vw;
}

.wrong {
    color: red;
    font-weight:900;
}

.reset {
    margin: auto;
    background-color:lightcoral;
}

.score {
    background-color: darkseagreen;
}

.total {
    padding: 20px;
    font-weight: bold;
}